div.idcc-idcc_targ_rep_allele_progress_links {
  float: right;
  border: 1px solid #999;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 5px;
  margin-right: 15px;
  background-color: #f4f4f4;
}

table.idcc-targ_rep_allele_progress {
  border-collapse: collapse;
}

table.idcc-targ_rep_allele_progress th {
  border: none;
  text-align: center;
  background: none;
}

table.idcc-targ_rep_allele_progress td {
  border: none;
  text-align: center;
  background-repeat: no-repeat;
  background-position: right center;
  vertical-align: middle;
}

table.idcc-targ_rep_allele_progress td.comp {
  background-color: #074987;
}

table.idcc-targ_rep_allele_progress td.incomp {
  background-color: #ccc;
}

table.idcc-targ_rep_allele_progress td.start_comp {
  background-image: url('../images/ikmc-dcc-knockout_attempts/progress-start-comp.png');
}

table.idcc-targ_rep_allele_progress td.comp_comp {
  background-image: url('../images/ikmc-dcc-knockout_attempts/progress-comp-comp.png');
}

table.idcc-targ_rep_allele_progress td.comp_incomp {
  background-image: url('../images/ikmc-dcc-knockout_attempts/progress-comp-incomp.png');
}

table.idcc-targ_rep_allele_progress td.incomp_incomp {
  background-image: url('../images/ikmc-dcc-knockout_attempts/progress-incomp-incomp.png');
}

table.idcc-targ_rep_allele_progress td.end_incomp {
  background-image: url('../images/ikmc-dcc-knockout_attempts/progress-end-incomp.png');
}

table.idcc-targ_rep_allele_progress td.end_comp {
  background-image: url('../images/ikmc-dcc-knockout_attempts/progress-end-comp.png');
}