<h2>About This Portal</h2>
<p>
  The Wellcome Trust Sanger Institute generates, characterises, and 
  uses a variety of reagents for mouse genetics research. It also 
  aims to facilitate the distribution of these resources to the 
  external scientific community. Here, you will find unified access 
  to the different resources available from the Institute or its 
  collaborators. The resources include: 129S7 and C57BL6/J bacterial 
  artificial chromosomes (BACs), MICER gene targeting vectors, 
  knock-out first conditional-ready gene targeting vectors, embryonic 
  stem (ES) cells with gene targeted mutations or with retroviral gene 
  trap insertions, mutant mouse lines, and phenotypic data generated 
  from the Institute's primary screen.
</p>
<table width="100%">
  <tr>
    <td width="70%" style="padding-right: 10px;">
      
      <h2>Summary</h2>
      <p>
        The table below displays the number of unique genes with each individual 
        product type produced at the Wellcome Trust Sanger Institute.
      </p>
      <div id="summary_statistics"></div>
      
    </td>
    <td style="padding-left: 10px; vertical-align: top;">
      
      <h2>Phenotyping Overview</h2>
      <table>
        <tr>
          <td style="text-align:center;">
            <a href="pheno_overview.xls" title="Download the Phenotyping Overview">
              <img src="/images/heatmap.png" alt="Download the Phenotyping Overview" />
            </a>
          </td>
          <td>
            <a href="/pheno_overview.xls" title="Download the Phenotyping Overview">Download</a> 
            a heat map of phenotyping results by assay.
          </td>
        </tr>
        <!--
        <tr>
          <td style="text-align:center;">
            <img src="images/heatmap.png" alt="Download the Phenotyping Overview" />
          </td>
          <td>
            <em>We're sorry, but at the moment our phenotyping overview is currently unavailable.  This shall be restored as soon as possible.</em>
          </td>
        </tr>
        -->
        <tr>
          <td style="text-align:center;">
            <a href="http://lists.sanger.ac.uk/mailman/listinfo/mgp-early-phenotype-alert" title="Sign up to our mailing list to be alerted of new data">
              <img src="/images/tango_icons/internet-mail.png" alt="Sign up to our mailing list to be alerted of new data" />
            </a>
          </td>
          <td>
            If you would like to be kept updated with information on our phenotyping data, 
            please subscribe to our 
            <a href="http://lists.sanger.ac.uk/mailman/listinfo/mgp-early-phenotype-alert" title="Sign up to our mailing list to be alerted of new data">mailing list</a>.
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>