<h2>About This Portal</h2>
<p>
  TODO: Insert some text about your portal.
</p>

<hr />

<h2>Powered by MartSearchr</h2>
<p>
  This portal is powered by software called 
  <a href="http://github.com/dazoakley/martsearchr/">MartSearchr</a>, 
  a server-side client written in Ruby used to pull together data from 
  distributed data sources (housed in Biomarts) in a single unified view.
</p>
<p>
  MartSearchr works by first building an Apache Solr index of all of the 
  available search terms in the cloud of Biomarts (each collection of 
  terms represents a gene).
</p>
<p>
  When a user performs a search, the query is first run against the index 
  which returns a paginated list of genes and associated meta data, this 
  meta data is then used to retrieve the information from the cloud of 
  biomarts (data sources) available to the search interface.
</p>
<p>
  A graphical representation of this process is shown below.
</p>
<div class="center">
  <img src="/images/martsearch-design.png" alt="MartSearch Design" />
</div>
