<h2>About This Portal</h2>
<p>
  The Wellcome Trust Sanger Institute generates, characterises, and 
  uses a variety of reagents for mouse genetics research. It also 
  aims to facilitate the distribution of these resources to the 
  external scientific community. Here, you will find unified access 
  to the different resources available from the Institute or its 
  collaborators. The resources include: 129S7 and C57BL6/J bacterial 
  artificial chromosomes (BACs), MICER gene targeting vectors, 
  knock-out first conditional-ready gene targeting vectors, embryonic 
  stem (ES) cells with gene targeted mutations or with retroviral gene 
  trap insertions, mutant mouse lines, and phenotypic data generated 
  from the Institute's primary screen.
</p>
