<h2>About This Portal</h2>
<p>
  The Wellcome Trust Sanger Institute generates, characterises, and 
  uses a variety of reagents for mouse genetics research. It also 
  aims to facilitate the distribution of these resources to the 
  external scientific community. Here, you will find unified access 
  to the different resources available from the Institute or its 
  collaborators. The resources include: 129S7 and C57BL6/J bacterial 
  artificial chromosomes (BACs), MICER gene targeting vectors, 
  knock-out first conditional-ready gene targeting vectors, embryonic 
  stem (ES) cells with gene targeted mutations or with retroviral gene 
  trap insertions, mutant mouse lines, and phenotypic data generated 
  from the Institute's primary screen.
</p>

<hr />

<h3>How This Portal Works</h3>
<p>
  The WTSI Mouse Resource Portal is powered by software called 
  <a href="http://github.com/dazoakley/martsearchr/">MartSearchr</a>, 
  a server-side client written in Ruby used to pull together data from 
  distributed data sources (housed in Biomarts) into a single unified view.
</p>
<p>
  MartSearchr works by first building an Apache Solr index of all of the 
  available search terms in the cloud of Biomarts (each collection of 
  terms represents a gene).  Here are some diagrams explaining how this is 
  done and the relationships between the data:
  <ul>
    <li>
      <a href="<%= BASE_URI %>/images/about-page/indexing-strategy.png" title="How the Index Is Built" rel="prettyPhoto">How the index is built</a>.
    </li>
    <li>
      <a href="<%= BASE_URI %>/images/about-page/whats-in-a-doc.png" title="How the Biomarts Are Linked Into the Index" rel="prettyPhoto">How the biomarts are linked into the index</a>.
    </li>
  </ul>
</p>
<p>
  When a user performs a search, the query is first run against the index 
  which returns a paginated list of genes and associated meta data, this 
  meta data is then used to retrieve the information from the cloud of 
  biomarts (data sources) available to the search interface.  A graphical 
  representation of this process is 
  <a href="<%= BASE_URI %>/images/about-page/portal-b-search.png" title="I-DCC WP4: Portal B - The Search Process" rel="prettyPhoto">available here</a>.
</p>

<hr />

<h2>Using MartSearchr to Make the WTSI Mouse Resource Portal</h2>
<p>
  Here are some of the reasons we decided to use this approach to building 
  this the WTSI Mouse Resource Portal.
</p>
<ul>
  <li>
    <p>
      <strong>Presenting an Integrated Overview of Mouse Data</strong>
    </p>
    <p>
      The WTSI Mouse Resource Portal focuses on mouse genes, the results 
      of high-throughput gene knockout programs,  and related phenotypic 
      and expression data. The WTSI Mouse Resource Portal talks with 
      Biomarts via web-services to gather and present its data.
    </p>
  </li>
  <li>
    <p>
      <strong>No Need for a Central Data Store or Web Server</strong>
    </p>
    <p>
      Does mouse informatics have an obvious single centre? Gene curation, 
      the production of mutant ES cells, the production of mutant mice, 
      expression and phenotyping studies all have important informatic data 
      and presentation techniques to offer the end-user. The software that 
      has been developed for the purpose of this portal (MartSearchr) allows 
      these diverse groups to remain engaged in the portal's user interface 
      without having to centralise portal development and data in a single 
      datastore.
    </p>
  </li>
</ul>
