<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/dataset_styles.css" type="text/css" media="screen, projection" />
    
    <script type="text/javascript" src="js/jquery-1.3.2.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>WTSI Mouse Resources Portal</h1>
      </div>
      
      <div id="navigation">
        <ul>
          <li class="current"><a href="/">Home</a></li>
          <li><a href="/browse">Browse</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <form id="martsearchr_nav" action="search" method="get" accept-charset="utf-8">
          <input type="text" class="textinput" name="query" value="" />
          <input type="submit" class="submit" value="search" />
        </form>
        <br style="clear: both;" />
      </div>
      
      <div id="messages">
        <% if @messages[:status].size > 0 %>
          <div id="status_msgs" class="notice">
            <ul>
              <% @messages[:status].each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @messages[:error].size > 0 %>
          <div id="error_msgs" class="error">
            <strong>MartSearchr Error</strong>
            <ul>
              <% @messages[:error].each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      
      <div id="content">
        <%= yield %>
      </div>
      
      <div id="footer">
        <p>
          Powered by 
          <a href="http://github.com/dazoakley/martsearchr">MartSearchr</a>, 
          developed by the <a href="http://www.sanger.ac.uk/">Wellcome 
          Trust Sanger Institute</a>
          <br />
          Wellcome Trust Genome Campus, Hinxton, Cambridge, CB10 1SA, UK  
          Tel:+44 (0)1223 834244
          <br />
          Registered charity number 210183
        </p>
      </div>
    </div>
    
    <% if @ms.config["debug"] %>
      <div id="debug">
        <h1>Debugging Data</h1>
        <h3>MartSearch Config</h3>
        <pre><%= JSON.pretty_generate(@ms.config) %></pre>
      </div>
    <% end %>
    
    <script type="text/javascript" src="js/jquery-plugins.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/martsearchr.js" charset="utf-8"></script>
  </body>
</html>
