<h2>Search Results for '<%= params[:query] %>'</h2>

<% if !@results.empty? %>
  <ul>
    <% @results.each do |key| %>
      <% result = @data[key] %>
      <li>
        <h3><%= result["dcc"]["marker_symbol"] %></h3>
        <div class="clear"></div>
        <div>
          
        </div>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @results %>
<% else %>
  <em>Sorry, your search did not return any results.</em>
<% end %>
