/* Page Layout */

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 20px;
}

#content {
	clear: both;
	margin-top: 10px;
	margin-bottom: 30px;
}

#footer {
	font-size: 0.9em;
	text-align: right;
	border-top: 2px solid #376598;
	padding-top: 10px;
	margin-bottom: 20px;
	color: #666;
}

.clear {
	clear: both;
	margin-top: 12px;
}

.center {
	text-align: center;
	margin: 0 auto;
}

/* Typography */

body {
	font: 11px/1.5em "Lucida Grande", Lucida, Verdana, sans-serif;
}

hr {
	border: 1px solid #ccc;
	border-top-width: 1px;
	clear: both;
	height: 0
}

h1 { font-size: 2.1em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }
h2,h3,h4,h5,h6 { line-height: 1.2em; }

small {
	font-size: 0.9em;
}

sup {
	font-size: 0.9em;
	vertical-align: super;
}

sub {
	font-size: 0.9em;
	vertical-align: sub;
}

ol {
	list-style: decimal
}

ul {
	list-style: disc
}

li {
	margin-left: 30px
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
	margin-bottom: 20px
}

/* Links */

a, .ui-widget-content a {
	color: #376598;
	text-decoration: none;
}

a:hover, .ui-widget-content a:hover {
	color: #963534;
}

a:focus, .ui-widget-content a:focus {
	outline: none;
	-moz-outline-style: none;
}

a:active, .ui-widget-content a:acitve {
	outline: none;
}

a.ext_link {
	background: url(../images/bullet_go.png) no-repeat left center;
	padding: 2px 0 2px 16px;
}

a.feed {
	background: url(../images/feed.png) no-repeat left center;
	padding: 4px 2px 4px 20px;
}

#header a h1 {
	color: #000;
}

/* Ordering Buttons */

.order {
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 4px 4px 4px 20px;
	background: #f4f4f4 url(../images/cart.png) no-repeat 2px center;
}

a.order:hover {
	background-color: #ccc;
}

.unavailable {
	color: #999;
	background-image: url(../images/cart_error.png);
}

/* User Messages */

.messages {
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 10px;
	margin: 10px;
}

.messages ul {
	margin-bottom: 0;
}

.messages p {
	margin-bottom: 2px;
}

#status_msgs {
	color: #323200;
	border-color: #cacb66;
	background-color: #fdfecc;
}

#error_msgs {
	color: #640808;
	border-color: #963534;
	background-color: #fdcccc;
}

#error_msgs .error_msg_content {
	color: #333;
	border: 1px solid #999;
	background-color: #f4f4f4;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Verdana, sans-serif;
}

.help {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #f1f1f1;
}

.help h4, .help h5, .help h6 {
	background: url(../images/help.png) no-repeat 0 center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
}

/* Toggle Controls */

.toggle-open, .toggle-close {
	background: url(../images/bullet_arrow_down.png) no-repeat 0 center;
	padding-left: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.toggle-close {
	background: url(../images/bullet_arrow_up.png) no-repeat 0 center;
}

.toggle-open:hover, .toggle-close:hover {
	cursor: pointer;
}

/* Pagination Controls */

.pagination {
	margin-bottom: 10px;
}

.pagination a {
	color: #333;
	background-color: #ccc;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 3px;
}

.pagination a:hover {
	color: #fff;
	background-color: #6998cb;
	border-color: #376598;
}

.pagination .current {
	color: #fff;
	background-color: #376598;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 5px;
}

/* Data Browsing Controls */

#browsable_content {
	margin: 0 auto;
	margin-bottom: 25px;
}

#browsable_content th,
#browsable_content td {
	vertical-align: middle;
	padding: 4px;
}

#browsable_content a {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ccc;
	color: #333;
	margin-bottom: 2px;
	padding: 3px 5px;
}

#browsable_content a:hover {
	color: #fff;
	background-color: #6998cb;
	border-color: #376598;
}

#browsable_content a.current {
	color: #fff;
	background-color: #6998cb;
	border: 1px solid #376598;
}

/* Navigation Menu */

#navigation {
	border-top: 5px solid #376598;
	background: transparent;
}

#navigation ul {
	margin: 0;
	margin-left: 10px;
	padding: 0;
	list-style: none;
}

#navigation li {
	display: inline;
	list-style-type: none;
	margin: 0 2px 0 0;
	text-transform: uppercase;
}

#navigation li a {
	float: left;
	display: block;
	color: #333;
	font-weight: bold;
	margin: 0 3px 0 0;
	padding: 5px 10px;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#navigation li.current a,
#navigation li a:hover {
	color:#fff;
	background-color: #376598;
}

#navigation #resize_and_search {
	float: right;
	text-align: right;
}

#navigation #fontresize {
	float: right;
	margin-top: 4px;
	margin-right: 10px;
}

#navigation form {
	background-color: #376598;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	margin: 0 10px 0 0;
	padding: 2px 10px 4px;
}

/*
#navigation form .textinput {
	height: 18px;
	width: 190px;
	border: 1px solid #ccc;
}

#navigation form .submit {
	height: 22px;
	color: #fff;
	border: 1px solid #376598;
	background-color: #6998cb;
}
*/

/* Tables */

caption {
	padding: 0 0 5px 0;
	font-style: italic;
}

th {
	border: 1px solid #999;
	text-align: left;
	padding: 6px 6px;
	background-color: #ccc;
	color: #333;
}

td {
	border: 1px solid #999;
	padding: 6px 6px;
}

tr.odd td {
	background: #f1f1f1;
}

.nobg, table.nobg th, table.nobg td {
	background: none !important;
}

.noborder, table.noborder th, table.noborder td {
	border: none !important;
}

table ul.noindent li {
	margin-left: 0;
	list-style-position: inside;
}

table ul {
	margin-bottom: 0;
}

/* Martsearchr Search Form */

form#martsearchr {
	text-align: center;
}

/* Search Results */

#search_results h2 {
	text-align: center;
}

#search_results .result {
	border-top: 2px solid #6998cb;
	border-bottom: 2px solid #6998cb;
	margin-bottom: 10px;
	padding: 5px 5px 5px;
}

#search_results .result .dataset {
	border: 1px solid #6998cb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 7px 7px 0;
	margin-bottom: 7px;
}

#search_results .dataset_title {
	margin-bottom: 10px;
}

#search_results table.result-header {
	margin-bottom: 2px;
}

#search_results table.result-header td {
	vertical-align: top;
}

#search_results table.result-header h3 {
	margin-bottom: 0;
}

#search_results .result div.doc_datasets_present {
	font-size: 0.8em;
	text-align: right;
}

#search_results .result div.doc_datasets_present span.dataset_present {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	background-color: #fd9acd;
	border: 1px solid #ca679a;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 3px;
	margin: 1px 0 0;
}

#search_results .result div.attribution {
	min-height: 16px;
	font-size: 10px;
	border-top: 1px solid #6998cb;
	padding-top: 4px;
	padding-bottom: 4px;
}

#search_results .result div.dataset_original_data {
	float: right;
	text-align: right;
}

#search_results .result div.dataset_original_data a {
	background: url(../images/bullet_go.png) no-repeat left center;
	padding: 2px 0 2px 16px;
}

/* Welcome Page Specifics */

table.welcome td {
	border: none;
}

table.welcome td td {
	border: 1px solid #999;
}

table.welcome td td.noborder {
	border: none;
}

table.welcome table.noborder td {
	border: none;
}

table.welcome table#summary_statistics,
table.welcome table#summary_statistics th {
	text-align: center;
}

/* jQuery UI Overrides */

.ui-widget {
	font: 11px/1.5em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.ui-widget-content {
	background: transparent;
}

.ui-accordion {
	margin-bottom: 20px;
}

/* jQuery TableSorter Overrides */

table.tablesorter thead tr th {
	border: 1px solid #999;
	text-align: left;
	padding: 6px 6px;
	background-color: #ccc;
	color: #333;
}

table.tablesorter thead tr th.header.headerSortDown {
	background-color: #6998cb;
	color: #fff;
}

table.tablesorter thead tr th.header.headerSortUp {
	background-color: #376598;
	color: #fff;
}

table.tablesorter tbody tr.odd td {
	background-color: #f1f1f1;
}
