<table class="europhenome-data-legend europhenome-data">
  <tr>
    <td class="noborder"><strong>Legend:</strong></td>
    <td class="pheno_result no-data">No Raw Data</td>
    <td class="pheno_result not-significant">No Significant Annotations</td>
    <td class="pheno_result significant">Significant Annotation Present</td>
  </tr>
</table>