/* europhenome-europhenome custom css */

.europhenome-europhenome table.europhenome-data td {
	background: #fff;
}

.europhenome-europhenome table.europhenome-data th {
  text-align: center;
}

.europhenome-europhenome table.europhenome-data td.no-data {
	background-color: #f1f1f1;
}

.europhenome-europhenome table.europhenome-data td.significant {
	background-color: #de2920;
	cursor: pointer;
}

.europhenome-europhenome table.europhenome-data td.not-significant {
	background-color: #6998cb;
}

.europhenome-europhenome table.europhenome-data td.pheno-result {
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

.europhenome-europhenome table.europhenome-data tr.male-female th,
.europhenome-europhenome table.europhenome-data th.male,
.europhenome-europhenome table.europhenome-data th.female {
	text-align: center;
	text-indent: -9999px;
	background: #e8e8e8 none no-repeat center center;
}

.europhenome-europhenome table.europhenome-data th.male {
  background-image: url('../images/silk/male.png') !important;
}

.europhenome-europhenome table.europhenome-data th.female {
  background-image: url('../images/silk/female.png') !important;
}

.europhenome-europhenome table.europhenome-data td.pheno-result a img {
  background-color: #fff;
  border: 1px solid #999;
  padding: 1px;
}

.qtip table.pheno-result-details {
  background: #fff;
  color: #535353;
  font-size: 0.9em !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.qtip table.pheno-result-details th,
.qtip table.pheno-result-details td {
  padding: 4px;
}
