/* @override http://localhost:4567/dataset-css/europhenome-europhenome.css */

/* europhenome-europhenome custom css */

.europhenome-europhenome table.europhenome-data td {
	background: #fff;
}

.europhenome-europhenome table.europhenome-data th {
	vertical-align:	bottom;
	height: 188px;
	min-width: 32px;
	white-space: nowrap;
}

.europhenome-europhenome table.europhenome-data .vertical_text {
	text-align: center;
	width: 32px;
	margin-bottom: 10px;
}

.europhenome-europhenome table.europhenome-data td.no-data {
	background-color: #f1f1f1;
}

.europhenome-europhenome table.europhenome-data td.significant {
	background-color: #de2920;
}

.europhenome-europhenome table.europhenome-data td.not-significant {
	background-color: #6998cb;
}

.europhenome-europhenome table.europhenome-data td.pheno-result {
	text-align: center;
	vertical-align: middle;
}

.europhenome-europhenome table.europhenome-data tr.male-female td {
	text-align: center;
}

.europhenome-europhenome table.europhenome-data td.male,
.europhenome-europhenome table.europhenome-data td.female {
	text-indent: -9999px;
	background: #e8e8e8 none no-repeat center center;
}

.europhenome-europhenome table.europhenome-data td.male {
	background-image: url('../images/silk/male.png') !important;
}

.europhenome-europhenome table.europhenome-data td.female {
	background-image: url('../images/silk/female.png') !important;
}

.qtip table.pheno-result-details {
	font-size: 0.9em !important;
	width: 100%;
	margin: 0;
	padding: 0;
}

.qtip table.pheno-result-details th,
.qtip table.pheno-result-details td {
	padding: 3px;
	vertical-align: middle;
}
