<% result_data["idcc-idcc_targ_rep"].each do |pipeline_name, mol_struct| %>
  <div>
    <%=
      partial( "datasets/idcc-idcc_targ_rep/targeted_progress_bar",
      :locals => { 
        :mol_struct   => mol_struct,
        :result_data  => result_data
      })
    %>
    
    <div class="ikmc-dcc-knockout_attempts_allele_progress_details_content">
      <!-- Links -->
      <%#
        partial( "datasets/idcc-idcc_targ_rep/links", 
        :locals => {
          :ensembl_gene_id        => ko_project['ensembl_gene_id'],
          :marker_symbol          => ko_project['marker_symbol'],
          :project_id             => ko_project['project_id'],
          :molecular_structure_id => mol_struct['molecular_structure_id'],
          :conditional_clones     => mol_struct['conditional_clones'],
          :nonconditional_clones  => mol_struct['nonconditional_clones']
        })
      %>
      
      <!-- ES Cells -->
      <%=
        partial( "datasets/idcc-idcc_targ_rep/escell_clones",
        :locals => {
          :molecular_structure_id => mol_struct['molecular_structure_id'],
          :design_id              => mol_struct['design_id'],
          :conditional_clones     => mol_struct['conditional_clones'],
          :nonconditional_clones  => mol_struct['nonconditional_clones']
        })
      %>
      <div class="clear"></div>
      
      <!-- Targeting Vectors -->
      <%=
        partial( "datasets/idcc-idcc_targ_rep/targeting_vectors", 
        :locals => {
          :pipeline_name          => pipeline_name,
          :molecular_structure_id => mol_struct['molecular_structure_id'],
          :targeting_vectors      => mol_struct['targeting_vectors'],
        }) 
      %>
    </div>
    
    <div class="clear"></div>
  </div>
<% end %>