/* sanger-phenotyping custom css */

.sanger-phenotyping table td { background: #fff; }
.sanger-phenotyping table td.test_not_done {	background-color: #f1f1f1; }
.sanger-phenotyping table td.completed_data_available {	background-color: #376598; }
.sanger-phenotyping table td.significant_difference {	background-color: #de2920; }
.sanger-phenotyping table td.no_significant_difference { background-color: #6998cb; }
.sanger-phenotyping table td.not_applicable {	background-color: #ccc; }
.sanger-phenotyping table td.early_indication_of_possible_phenotype {	background-color: #fcfe66; }
.sanger-phenotyping table td.pheno_result {
	text-align: center;
	vertical-align: middle;
	padding: 0;
	width: 22px;
}

.sanger-phenotyping table td.pheno_result a img {
  background-color: #fff;
	border: 1px solid #999;
	padding: 1px;
}

.sanger-phenotyping table td.pheno_result a img:hover {
  background-color: transparent;
  border: none;
}

/* Heatmap specific code */

.sanger-phenotyping_heatmap th {
	vertical-align:	bottom;
	height: 280px;
}

.sanger-phenotyping_heatmap .vertical_text {
	white-space: nowrap;
	display: block;
	width: 16px;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: 50% 50%;
	-o-transform: rotate(-90deg);
	-o-transform-origin: 50% 50%;
	writing-mode: tb-rl;
	filter: flipv fliph;
}

/* Phenotyping details pages */

#test-description, .test-parameter-group {
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 15px;
	background-color: #f1f1f1;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.test-parameter-group {
	padding: 10px;
}

.test-parameter-group table td {
	background-color: #fff;
}

.test-parameter-group .help {
	background-color: #fff;
}

.test-parameter-group .gchart {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 0 10px;
	margin-bottom: 15px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#test-parameter-groups div.test-parameter-group div.pheno_result {
	text-align: center;
	margin-bottom: 7px;
}

#results-summary,
#methods-summary,
#abr-thresholds-summary,
#abr-thresholds,
#abr-input-output-functions-summary {
	border-bottom: 2px solid #999;
	padding-top: 10px;
}

#abr-thresholds-summary div.pheno-content table.pheno-image-data tbody tr td,
#abr-thresholds div.pheno-content table tbody tr td {
	border: none;
}

#abr-thresholds div.pheno-content table tbody tr td table td {
	border: 1px solid #999;
}

/* Adult Expression Specific Code */

table.expression_ticklist {
	margin: 0 auto;
}

table.expression_ticklist td {
	text-align: center;
}

table.expression_ticklist td.present {
	text-indent: -9999px;
	background: #fff url(../images/tick.png) no-repeat center center;
}

table.expression_ticklist td.absent {
	text-indent: -9999px;
	background: #fff url(../images/cross.png) no-repeat center center;
}

table.expression_ticklist td.no_data,
table.expression_ticklist td.ambiguous {
	color: #999;
	font-style: italic;
	text-transform: lowercase;
}
