<div class="htgt_targ_allele_progress_links">
  <h4>Links</h4>
  <ul>
    <% if project["ensembl_gene_id"] %>
      <li>
        <%= partial( "datasets/htgt_targ/ensembl_link", :locals => { :project => project } ) %>
      </li>
    <% end %>
    
    <% if (project["conditional_clones"] or project["nonconditional_clones"]) and (project["conditional_clones"].length > 0 or project["nonconditional_clones"].length > 0) %>
      <% 
        allele_picture_text = "HTGT allele for " + project["marker_symbol"];
        allele_picture_text += " - <a href='http://www.sanger.ac.uk/htgt/report/gene_report?project_id=" + project["ikmc_project_id"] + "' target='_blank'>view this in HTGT</a>";
      %>
      <li>
        <a href="http://www.i-dcc.org/dev/allele_pages/<%= project["ikmc_project_id"] %>.html?iframe=true&amp;width=90%&amp;height=70%" class="image" rel="prettyPhoto" title="<%= allele_picture_text %>">
          View a cartoon of this allele
        </a>
      </li>
    <% end %>
    
    <li>
      <a href="http://www.sanger.ac.uk/htgt/report/gene_report?project_id=<%= project["ikmc_project_id"] %>" target="_blank">
        View this allele in HTGT
      </a>
    </li>
  </ul>
</div>