<% result_data["htgt_targ"].each do |project| %>
  <div>
    <!-- Progress Bar -->
    <%= partial( "datasets/htgt_targ/progress_bar", :locals => { :project => project } ) %>
    
    <div class="htgt_targ_allele_progress_details_content">
      <!-- Links -->
      <%= partial( "datasets/htgt_targ/links", :locals => { :project => project } ) %>
      
      <!-- ES Cells -->
      <%= partial( "datasets/htgt_targ/escell_clones", :locals => { :project => project } ) %>
      
      <!-- Targeting Vectors -->
      <!--
      <%= partial( "datasets/htgt_targ/targeting_vectors", :locals => { :project => project } ) %>
      -->
    </div>
    <div class="clear"></div>
  </div>
<% end %>
