div.ikmc-idcc_targ_rep_allele_progress_links {
  float: right;
  border: 1px solid #999;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
	-o-border-radius: 2px;
  padding: 5px;
  margin-right: 15px;
  background-color: #f4f4f4;
}

div.ikmc-idcc_targ_rep_progress_bar_hidden {
  display: none;
}

.ikmc-idcc_targ_rep_allele_progress_links ul {
  margin-right: 10px;
  margin-bottom: 5px;
}

.ikmc-idcc_targ_rep_allele_progress_links h4 {
  margin-bottom: 5px;
}