/* sanger-htgt_targ custom css */

div.sanger-htgt_targ_allele_progress_links {
	float: right;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	padding: 5px;
	margin-right: 15px;
	background-color: #f4f4f4;
}

div.sanger-htgt_targ_allele_box {
  padding: 5px;
  margin: 4px;
}

div.sanger-htgt_targ_allele_box ul li {
  margin: 0 !important;
}