/* htgt_targ custom css */

div.htgt_targ_allele_progress_links {
	float: right;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 5px;
	margin-right: 15px;
	background-color: #f4f4f4;
}

table.htgt_targ_allele_progress {
  border-collapse: collapse;
}

table.htgt_targ_allele_progress tr {
  border-bottom: 2px solid #fff;
}

table.htgt_targ_allele_progress th,
table.htgt_targ_allele_progress td {
	background-color: transparent;
	border: none;
	vertical-align: middle;
}

table.htgt_targ_allele_progress td {
  background-repeat: no-repeat;
  background-position: right center;
  text-align: center;
  padding: 5px 15px 5px 7px;
  height: 25px;
}

table.htgt_targ_allele_progress table tr {
  border: none;
}

table.htgt_targ_allele_progress table.with_border td,
table.htgt_targ_allele_progress table.with_border th {
  border: 1px solid #e2e2e2;
  text-align: left;
}

table.htgt_targ_allele_progress table td {
	text-align: left;
}

table.htgt_targ_allele_progress table.with_border td {
	height: auto;
}

table.htgt_targ_allele_progress th.centre {
  text-align: center !important;
}

table.htgt_targ_allele_progress td.incomp {
  background-color: #ccc;
}

table.htgt_targ_allele_progress td.normal {
  background: none;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #074987;
}

table.htgt_targ_allele_progress td.error {
  background-color: #c1272d;
}

table.htgt_targ_allele_progress td.warn {
  background: none;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #f7931e;
}

table.htgt_targ_allele_progress td.normal,
table.htgt_targ_allele_progress td.error,
table.htgt_targ_allele_progress td.warn {
  color: #fff;
  font-weight: bold;
}

table.htgt_targ_allele_progress td.normal_normal {
  background-image: url('../images/htgt_targ/progress-comp-comp.png');
}

table.htgt_targ_allele_progress td.normal_incomp {
  background-image: url('../images/htgt_targ/progress-comp-incomp.png');
}

table.htgt_targ_allele_progress td.normal_error {
  background-image: url('../images/htgt_targ/progress-comp-error.png');
}

table.htgt_targ_allele_progress td.normal_warn {
  background-image: url('../images/htgt_targ/progress-comp-warn.png');
}

table.htgt_targ_allele_progress td.incomp_incomp {
  background-image: url('../images/htgt_targ/progress-incomp-incomp.png');
}

table.htgt_targ_allele_progress td.error_incomp {
  background-image: url('../images/htgt_targ/progress-error-incomp.png');
}

table.htgt_targ_allele_progress td.warn_incomp {
  background-image: url('../images/htgt_targ/progress-warn-incomp.png');
}

table.htgt_targ_allele_progress td.start_incomp {
  background-image: url('../images/htgt_targ/progress-start-incomp.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.start_normal {
  background-image: url('../images/htgt_targ/progress-start-comp.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.start_error {
  background-image: url('../images/htgt_targ/progress-start-error.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.start_warn {
  background-image: url('../images/htgt_targ/progress-start-warn.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.end_incomp {
  background-image: url('../images/htgt_targ/progress-end-incomp.png');
}

table.htgt_targ_allele_progress td.end_normal {
  background-image: url('../images/htgt_targ/progress-end-comp.png');
}

table.htgt_targ_allele_progress td.end_error {
  background-image: url('../images/htgt_targ/progress-end-error.png');
}

table.htgt_targ_allele_progress td.end_warn {
  background-image: url('../images/htgt_targ/progress-end-warn.png');
}

div.htgt_targ_allele_box {
  padding: 5px;
  margin: 4px;
}

div.htgt_targ_allele_box ul li {
  margin: 0 !important;
}