<% velocigene_id = project["project_id"].gsub("VG","") %>
<a href="http://www.velocigene.com/komp/detail/<%= velocigene_id %>" target="_blank" class="ext_link">view further details on this allele</a>
<div style="text-align:center;">
  <img src="<%= BASE_URI %>/images/ikmc-dcc-knockout_attempts/regn_design.png" />
</div>