<table class="ikmc-dcc-knockout_attempts_allele_progress" width="100%">
  <tr>
    <td width="15%"></td>
    <th width="15%" class="centre">Pre-pipeline</th>
    <th width="15%" class="centre">Designs</th>
    <th width="15%" class="centre">Vectors</th>
    <th width="15%" class="centre">ES Cells</th>
    <th width="15%" class="centre">Mice</th>
    <th class="nobg noborder"></th>
  </tr>
  <!-- Progress bar row -->
  <tr>
    <td class="start_normal">
      <strong>TIGM</strong>
    </td>
    <td class="normal normal_normal"></td>
    <td class="normal normal_normal"></td>
    <td class="normal normal_normal"></td>
    <td class="normal normal_incomp">
      <div style="margin-bottom:6px;">
        <% if project.size === 1 %>
          <%= project.size %> gene trap available
        <% else %>
          <%= project.size %> gene traps available
        <% end %>
      </div>
      <a href="<%= tigm_order_url(project,result_data) %>" class="order">order</a>
    </td>
    <td class="end_incomp incomp"></td>
    <td class="nobg noborder">
      <a class="ikmc-dcc-knockout_attempts_allele_progress_details_toggle">view&nbsp;details</a>
    </td>
  </tr>
</table>

<div class="ikmc-dcc-knockout_attempts_allele_progress_details_content">
  <h5>All TIGM Gene Traps</h5>
  <p>
    <%
      trap_links = []
      project.each do |trap|
        trap_links.push("<a href='#{tigm_ncbi_url(trap)}'>#{trap}</a>")
      end
    %>
    <%= trap_links.join(", ") %>
  </p>
</div>