<%=
  require "pp"
  pp result_data["dcc"]
%>


<% result_data["dcc"][:projects].each do |project_id,project_info| %>
  <div>
    <% 
      progress_bar_template = "targeted_progress_bar"
      if project_id === "TIGM"
        progress_bar_template = "tigm_progress_bar"
      end
    %>
    <%= partial( "datasets/dcc/#{progress_bar_template}", :locals => { :project => project_info } ) %>
    
    <div class="clear"></div>
  </div>
<% end %>