<table class="dcc_allele_progress" width="100%">
  <tr>
    <td width="15%"></td>
    <th width="15%" class="centre">Pre-pipeline</th>
    <th width="15%" class="centre">Designs</th>
    <th width="15%" class="centre">Vectors</th>
    <th width="15%" class="centre">ES Cells</th>
    <th width="15%" class="centre">Mice</th>
    <th class="nobg noborder"></th>
  </tr>
  <!-- Progress bar row -->
  <tr>
    <td class="start_normal">
      <strong>TIGM</strong>
    </td>
    <td class="normal normal_normal"></td>
    <td class="normal normal_normal"></td>
    <td class="normal normal_normal"></td>
    <td class="normal normal_incomp">
      <%= project.size %> gene traps available
    </td>
    <td class="end_incomp incomp"></td>
    <td class="nobg noborder"></td>
  </tr>
</table>